.nav {
    width: auto;
    height: 10%;
    background: #000;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.item {
    text-transform: uppercase;
    color: rgb(106, 151, 235);
    text-decoration: none;
}

.active {
    color: rgb(150, 184, 30);
}